body {
  margin: 20px;
  font: 14px "Century Gothic", Futura, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.game-info{
  margin-left:20px;
}
.game{
  display:flex; 
  flex-direction: row; 
}
.kbd-navigation .square:focus{
  background: #ddd;
}

.status{
  margin-bottom: 10px;
}
.square{
  background: #fff;
  border: 1px solid #999;
  float:left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 10px;
  padding: 0;
  text-align: center;
  width: 34px;

}

ol, ul{
  padding-left:34px; 
}

.board-row:after{
  clear: both;
  content: "";
  display: table;
}